<!-- Header Navigation -->
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">La Bonne Affaire</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Accueil</a>
        </li>
        <li class="nav-item text-light">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
<div id="home" class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center flex wrap m-1">
    
      <div id="alertMessage">
        <p>
          {{ message }}
        </p>
      </div>

      <!-- Component article -->
      <app-article 
        *ngFor="let element of liste"
          [titreArticle]="element.titreArticle" 
          [prixArticle]="element.prixArticle"
          [description]="element.description"
          [urlImg]="element.urlImg"
          [textAltImg]="element.textAltImg"
          [dispo]="element.dispo"
          (info)="onAffiche($event)">
      </app-article>
    </div>
</div>

</div>

<!-- Footer -->
<div class="container-fluid footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      </a>
      <span class="mb-3 mb-md-0 text-light">© 2024, La Bonne Affaire</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use>
          </svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg></a></li>
    </ul>
  </footer>
</div>